/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column; /* Add this to stack content vertically */
}
.atm-image {
    width: 150px; /* Increased size */
    max-width: 150%; /* Ensure it doesn't get too large */
    height: auto;
    margin-bottom: 30px; /* Space below the image */
}
h1 {
    color: #2c3e50;
    margin-bottom: 20px; /* Add space below the heading */
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: left; /* Align text to the left */
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #2c3e50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #34495e;
}
